#set($MARKER="//----")
${MARKER}${OutputFileName}

#foreach($class in $violetClassS)
   class ${class.name} extends ${class.fields};
#end


#foreach($interface in $violetInterfaceS)
   ${interface.name} ${interface.methods};
#end

#foreach($assoc in $violetAssociationS)
   ${assoc.role1} ${assoc.arrow1} ${assoc.type1}
#end
